.nav-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
  }
  
  .nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .nav-menu li {
    margin: 0 10px;
    width: 100%;
    text-align: center;
    opacity: 0.6;
    border: 2px solid lightgreen;
    border-radius: 6px;
  }
  
  .nav-menu a {
    color: lightgreen;
    text-decoration: none;
    align-content: center;
  }
  
  .hamburger {
    display: none;
  }
  
  @media only screen and (max-width: 600px) {
    .nav-menu ul {
        display: none;
        flex-direction: row;
    }
  
    .nav-menu li {
        margin: 0;
        width: auto;
    }
  
    .hamburger {
        display: block;
        cursor: pointer;
    }
  }
  
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
  }
  
  .hamburger span:last-child {
    margin-bottom: 0;
  }

  header {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #4CAF50;

    padding: 20px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.nav-menu a{
  color: rgba(255, 255, 255, 0.715);
}
  .nav-menu li:hover {
    opacity: 1;
    transition: transform 0.5s ease-in-out-in;
  }
