body {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
header {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
h1 {
    margin: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
}

#p_sameline {
    display: inline-block;
}

#p_green {
    color: green;
    font-weight: bold;
    display: inline-block;
}

#p_red {
    color: red;
    font-weight: bold;
    display: inline-block;
}

footer {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.navBar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navBar li {
    margin: 0 10px;
    width: 100%;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
    align-content: center;
}

.list li {
    display: none;
}

.searchPlaceHolder {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.list {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}

.list ul {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
  flex-direction: row;
  flex-wrap: wrap;
}

.list ul:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  cursor: pointer;
}

.list ul li {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 10px;
  text-align: center;
}
